<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846956265889-co52kdm75afq0qhibao07l3090ss92o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846956265889-co52kdm75afq0qhibao07l3090ss92o8</string>
	<key>API_KEY</key>
	<string>AIzaSyBF0gv7EGBBaou0B2okhcCKx62qqSRzM28</string>
	<key>GCM_SENDER_ID</key>
	<string>846956265889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HealthPassportIOS</string>
	<key>PROJECT_ID</key>
	<string>healthpassport-f3da3</string>
	<key>STORAGE_BUCKET</key>
	<string>healthpassport-f3da3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846956265889:ios:57ff18a110d424704c8be0</string>
	<key>DATABASE_URL</key>
	<string>https://healthpassport-f3da3.firebaseio.com</string>
</dict>
</plist>